**/.git
**/.idea
**/.DS_Store
**/.venv
**/venv
**/node_modules
**/__pycache__
**/*.pyc
**/*.log
**/.env
backend/data/config/*
!backend/data/config/.gitkeep
backend/data/ssl/*
!backend/data/ssl/.gitkeep
backend/data/test_case/*
!backend/data/test_case/.gitkeep
backend/data/log/*
!backend/data/log/.gitkeep
backend/data/public/upload/*
!backend/data/public/upload/.gitkeep
